*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: bolder;
    text-transform: capitalize;
    transition: all .2s linear;
    
}
*::selection{
    background-color: rgb(149, 106, 189);
    color: rgb(80, 29, 128);
}
html{
    font-size: large;
    overflow: hidden;
}
section{
    padding: 0.7rem;
    padding-top: 12rem;
}
.btn{
    font-size: 20px;
    padding: .7rem 3rem;
    background-color: #141314;
    color: #0e3c5b;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 15px;
}
.btn:hover{
    transform: scale(1.3);
    transition: .3s;
}
header{
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1000;
    
    width: 100%;
}
header .heading{
    font-size: 3rem;
    color: #141314;
    padding: 1rem;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(58, 55, 55);
    
}
header #menu{
    font-size: 3rem;
    color: black;
    cursor: pointer;
    margin: 1rem;
    margin: 1rem;
    display: none;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    color: #141314;
}
header .navbar ul li{
    margin: 0 1.5rem;
}
header .navbar ul li a{
    font-size: 2rem;
    color: rgb(166, 182, 198);
}
header .navbar ul li a:hover{
    color: rgb(92, 122, 159);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(stu.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    width: 100%;
    box-shadow: 5px 5px 5px rgb(7, 7, 7);
}
.home .content{
    flex: 1 1 40rem;
}
.home .content h1{
    font-size: 5rem;
    color: #000a11;
    text-shadow: 5px 5px 5px #141314;
}
.home .content p{
    font-size: 1rem;
    color: white;
    padding: 1rem 0;
}

.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    background-color: rgb(17, 143, 101);

}

.about .image{
    flex: 1 1 40rem;
}

.about .image img{
    width: 700px;
    height: 500px;
    box-shadow: 5px 5px 5px rgb(7, 7, 7);
    margin-right: 2px;
    position: relative;
}
.about .content{
    flex: 1 1 40rem;
}
.about .content h1{
    font-size: 30px;
    color: #0e3c5b;
}
.about .content p{
    font-size: 1rem;
    color: white;
    padding: 1rem 0;
}

.courses{
    min-height: 100vh;
    background-color: rgb(17, 143, 101);
    background-size: cover;
}
.courses .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem 0;
    
}
.courses .box-container .box{
    width: 335px;
    padding: 20px 35px;
    background-color: #101010;
    border-radius: 15px;
    margin: 15px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    box-shadow: 5px 5px 5px(black);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ;
}

.courses .box-container .box i{
    font-size: 4rem;
    padding: 1rem;
    color: rgb(17, 143, 101);
}
.courses .box-container .box h3{
    font-size: 20px;
    color: #0e3c5b;
}
.courses .box-container .box p{
    font-size: 16px;
    color: white;
    padding: 1rem;
}
.contact{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(17, 143, 101);
}
.contact form{
    flex: 1 1 40rem;
    padding: 2rem;
    margin: 1rem;
    margin-top: 4rem;
    box-shadow: 5px 5px 5px black;
}
.contact .content{
    flex: 1 1 40rem;
    padding: 3rem 1rem;

}
.contact form .box{
    width: 100%;
    color: black;
    height: 4rem;
    font-size: 1.7rem;
    border-bottom: .2rem solid rgba(0,0,0,0.3);
    text-transform: none;
    background-color: rgb(17, 143, 101);
    
}
.contact form .box::placeholder{
    text-transform: capitalize;
}
.contact form .box:focus{
    border-color: #0e3c5b;
}
.contact form .message{
    height: 5rem;
    resize: none;
}
.contact .content h3{
    font-size: 4rem;
    color: #0e3c5b;
}
.contact .content p{
    font-size: 1.9rem;
    color: aliceblue;
    padding: 1rem 0;
}
.contact .content .icon{
    font-size: 1.7rem;
    color: #000a11;
    padding: .5rem 0;
}




@media (max-width:768px){
    html{
        font-size: 55%;
    }
    .home .content{
        text-align: center;
    }
    .home .content h1{
        font-size: 4rem;
    }
}

@media (max-width:500px){
    html{
        font-size: 50%;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    header #menu{
        display: block;
    }
    header .navbar{
        position: fixed;
        top: 6.2rem;
        right: -120%;
        height: 100%;
        width: 100%;
        border-top: .2rem solid rgba(0,0,0,0.3);
    }
    header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
        background-color: #745979;
        padding-bottom: 15rem;
    }
    header .navbar ul li{
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }
    header .navbar ul li a{
        font-size: 4rem;
        color: #141314;
        display: block;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle{
        right: 0;
    }
    section{
        padding-top:5rem ;
    }
}